export TF_VAR_aws_access_key="YOUR_ACCESS_KEY"
export TF_VAR_aws_secret_key="YOUR_SECRET_KEY"
export TF_VAR_db_username="DB_USERNAME"
export TF_VAR_db_password="DB_PASSWORD"
export VAULT_ADDR=http://127.0.0.1:8200
export VAULT_TOKEN=test